<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/main.png" alt="">
  </div>
  <div class="headings">
    <h2>My Recipes App</h2>
    <h3>Your favourite recipes, <br> all in one place!</h3>
    <a href="/recipes" class="btn">View Recipes</a>
    <a href="/signup" class="btn">Sign up</a>
  </div>
</header>


<%- include('partials/footer'); -%>