<%- include('partials/header'); -%>
<form>
    <h2>Sign up</h2>
    <label for="email">Email</label>
    <input type="text" name="email" required>
    <div class="error email"></div>
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <div class="error password"></div>
    <button>Sign up!</button>
</form>

<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');

    form.addEventListener('submit', async (e) => {
        // Preventing the default form behaviour:
        e.preventDefault();

        // Reset errors:

        emailError.textContent = '';
        passwordError.textContent = '';

        // Getting the values from the input:
        const email = form.email.value;
        const password = form.password.value;

        try {
            const res = await fetch('/signup', {
                method: 'POST',
                body: JSON.stringify({
                    email: email,
                    password: password
                    // We can also use the shorthand syntax since 
                    // our properties have the same value and key name.
                }),
                headers: { 'Content-Type': 'application/json' }
            });

            const data = await res.json();
            console.log(data);

            if(data.errors){
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            }

            if(data._id){
                location.assign('/');
            }
        }
        catch(err){
            console.log(err);
        }

    });
</script>
<%- include('partials/footer'); -%>